/* ROOT */

:root {
    --button-background:lightgray;
    --button-border: 2px grey solid;
    --button-background-hover: gainsboro;
    --tbm-color: #018496;
    --default-button-color: #efefef;
}

body {
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    background-color:beige;
    min-height: 100vh;
}

.main-content {
    padding: 50px 150px;
}

navbar {
    background-color: none;
}

.warnings {
    color: red;
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.tbm-border {
    border: var(--tbm-color) 2px solid;
    border-radius: 5px;
}

/* LOGIN */

.login-main {
    display: flex;
    justify-content: center;
}

.login-content {
    background-color: var(--button-background-hover);
    width: 400px;
    height: 450px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-block: 80px;
    padding-block: 40px;

    border: 2px #018496 solid;

    position: relative;
}

.login-content > div {
    font-size: 32px;
    margin-bottom: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: auto;
}

.login-form label {
    font-size: 20px;
}

.login-form input {
    font-size: 24px;
}

#submit-login {
    padding: 5px 40px;
    margin-top: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px #018496 solid;

    cursor: pointer;
}

#submit-login:hover {
    background-color: var(--button-background);
}


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }





/* HEADER */

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar-content > ul {
    margin-inline-end: 30px;
}

#logoLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
}

.icon p {
    font-size: 24px;
    margin-top: -5px;
    padding-left: 40px;
}

.icon .logo {
    width: 200px;
    height: 100px;
    background-image: url('../images/tbm-logo.jpg');
    background-size: cover;
    background-position: 0px -6px;
}

#arrow-header {
    font-size: 20px;
    position: relative;
    top: 1px;
}

.view-list > a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.navbar-content > ul {
    margin-inline: 0px;
    padding: 0px;
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: 24px;
}

.navbar-content > ul > li {
    padding-inline: 20px;
}

.navbar-content > ul > li > ul {
    padding: 0;
}

.header-list {
    display: none;
    position: absolute;
    top: 80px;
    border: 2px solid black;
    background-color: white;
    margin-block: 10px;
    padding-inline: 0px;
    z-index: 22;
}


.header-list > li {
    padding-block: 10px;
    padding-inline: 15px;
}

.header-list a {
    display: block;
    width: 100%;
}

.header-list > li:hover {
    background-color: var(--button-background-hover);
}




/* MAIN PAGE */

.header-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;

    justify-content: space-between;
}

.header-main > a {
    margin-right: auto;
}

.add-cr-filt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-cr-filt * {
    margin-inline: 10px;
    font-size: 18px !important;
    padding: 10px 20px !important;
}

@media screen and (max-width: 1700px) {
    .add-cr-filt * {
        font-size: 14px !important;
        padding: 10px 10px !important;
    }

    .sort-search a {
        font-size: 16px !important;
    }

    .sort-search select {
        font-size: 10px;
    }

    .sort-search input {
        font-size: 14px !important;
    }
}

.sort-search {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.sort-search a {
    font-size: 20px;
    padding-right: 10px;
    align-self: center;
}

.search {
    display: flex;
    align-items: center;
}

.search > form {
    padding-left: 70px;
    display: flex;
    align-items: center;
}

.search input {
    height: 30px;
    font-size: 20px;

    padding-right: 40px;
}

.search a {
    text-decoration: none;
    color: black;
    margin-top: 4px;
    cursor: pointer;
}

.search span {
    font-size: 30px;
    padding-left: 10px;
    background: none;
}

.search button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-page {
    text-align: center;
    padding-top: 30px;
    font-size: 32px;
    padding-bottom: 50px;
}


#filter-button {
    cursor: pointer;
    padding-inline: 20px;
    font-weight: 700;

    width: 100px !important;
}

.filter {
    display: none;

    margin-top: 20px;
    background-color: rgb(230, 230, 230);
}

.filter-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filter-content div {
    font-size: 18px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-content select {
    margin: 10px 0px;
    padding: 5px;
    width: 200px;
}

.filter-btns {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    padding: 20px 30px;
}

.filter-button-action {
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    padding: 10px 30px;
    margin: 10px 30px;
    text-align: center;
    background-color: var(--button-background);
}

.filter-button-action {
    background-color: var(--button-background-hover);
}


.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}


#main-form-submit {
    cursor: pointer;
}

.btn-rep {
    width: 150px !important;
}

.place-rep {
    display: flex;
    justify-content: center;
}

.rep-main {
    display: flex;
    justify-content: center;

    padding-top: 100px;
}

.create-rep {
    background-color: #efefef;
    width: 300px;

    border: var(--tbm-color) 2px solid;
    border-radius: 5px;

    padding-inline: 100px;
    padding-block: 50px;
}

.create-rep form {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
}

.create-rep input {
    width: 120px;
    margin-block: 5px;

    font-size: 16px;
}

.create-rep button {
    margin-top: 20px;
    font-size: 14px;
}

.create-rep select {
    font-size: 18px;
}

.rep-btn {
    width: 200px;
}





/* TABLE  */

.table-main {
    margin-top: 80px;
    width: 100%;
    border-collapse: collapse;
}

.table-main th {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    font-weight: 600;
}

.table-main td {
    border: 2px solid black;
    font-size: 18px;
    padding-block: 10px;
    text-align: center;
    font-weight: 400;
}

.table-main b {
    font-size: 18px;
    font-weight: 900;
}

#intruder, #witness, #injured {
    display: flex;
    flex-direction: column;
}

.table-main #id {
    width: 70px;
}

.table-main #date {
    width: 150px;
}

.table-main #type {
    width: 150px;
}

#empty-col {
    width: 150px;
}

#empty-col > div {
    display: flex;
    justify-content: center;
}

#empty-col a {
    font-weight: 700;
    text-decoration: none;
    padding-left: 10px;
    color: black;
    display: flex;
}

#empty-col span {
    font-size: 20px;
}

#empty-col a:hover {
    color:blue ;
}

.table-view table {
    border-collapse: collapse;
}

.person-table > table {
    border-collapse: collapse;
    table-layout: fixed;
}

.person-table td {
    padding: 5px 10px;
    width: 50%;
    word-wrap: break-word;
}

.person-table td:last-child {
    width: 80%;
}

#label-image {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
}

#label-image > a {
    padding-left: 25px;
}

#label-image > span {
    position: relative;
    top: 1px;
    padding-right: 25px;
}

#id_image {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#id_file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}





/* BUTTON EVENT */

.add-more {
    border: var(--tbm-color) 2px solid;
    background-color: var(--button-background-hover);

    width: 200px;
    padding: 5px;
    margin: 20px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    cursor: pointer;
}

.add-more:hover {
    background-color: var(--button-background);
}

.add-more span {
    padding-top: 2px;
    padding-left: 5px;
    color: var(--tbm-color);
}


#add-event {
    background-color:var(--button-background);

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    padding: 10px 50px;

    text-decoration: none;
    color: black;
}

.add-btn {
    background-color:var(--button-background);
    width: 250px;

    text-align: center;

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    padding: 10px 50px;

    text-decoration: none;
    color: black;
}


.add-btn:hover {
    background-color: var(--button-background-hover);
}

#add-event:hover {
    background-color: var(--button-background-hover);
}

.add {
    background-color: var(--button-background);
    width: 100px;
    padding: 10px 40px;
    text-align: center;
    border: 2px solid black;
}

#add-btn-int, #add-btn-wit, #add-btn-inj {
    color: green;
    display: none;
}

.close-button {
    color: red;
    font-size: 32px;
    float: right;
    cursor: pointer;
}

.back-button {
    background-color: var(--default-button-color);
    border: 1px var(--tbm-color) solid;
    width: 198px;
    text-align: center;
    padding: 5px 0px;
    font-size: 19px;
    margin-top: 20px;
}

.person-buttons {
    display: flex;
}

.person-buttons > a {
    margin-right: 20px;
}

.accept-btn {
    border: 1px var(--tbm-color) solid;
    font-size: 16px;
    margin-top: 30px;
    width: 200px;
    height: 40px;

    cursor: pointer;
}

#birth-btn {
    cursor: pointer;
}

#delete-search {
    color: red;
    position: absolute;
    right: 50px;
    cursor: pointer;

    display: none;
}





/* FORMS */

.main-content-form {
    display: flex;
    justify-content: space-around;
}

.secondary-form {
    display: flex;
    flex-direction: column;
}

.event-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.event-form input {
    width: 350px;
    height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.event-form select {
    width: 357px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}

.event-form textarea {
    width: 351px;
    height: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}

.event-form button {
    border: 1px var(--tbm-color) solid;
    font-size: 16px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
}



.main-info {
    display: flex;
    flex-direction: column;
}


#intruder,#intruder-first,#witness,#witness-first, #injured, #injured-first {
    display: none;
}

.list-persons-form text {
    font-size: 22px;
}

.list-persons-form div {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.list-persons-form div a {
    font-size: 20px;
}

.main-adress-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-choice {
    width: 360px;
    height: 40px;
    font-size: 18px;
    padding: 0px;
    margin: 0px 30px;

    margin-bottom: 50px;
}

.main-info-adress {
    display: flex;
    flex-direction: column;
}

#edit-form {
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
}

#edit-form input, #edit-form textarea {
    font-size: 16px;
    margin-bottom: 20px;
}

#edit-form select {
    font-size: 16px;
    margin-bottom: 20px;
}

.default-input {
    width: 350px;
    height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}


/* TABLE*/

.right-position {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 0px;
}

#dwn-html, #dwn-word {
    font-size: 24px;
    background-color: var(--button-background);
    border: var(--button-border);
    padding: 5px 10px;
    width: 150px;
    text-align: center;

    margin-inline: 20px;
}

#dwn-html:hover, #dwn-word:hover {
    background-color: var(--button-background-hover);
}


.table-view table {
    width: 50% !important;
    margin-bottom: 30px;
}

.table-view td {
    padding: 5px 10px;
    width: 50%;
    border: 1px black solid;
    font-size: 18px;
}

.table-view a {
    color:royalblue;
    text-decoration: underline;
}

.td-border {
    border: 2px black solid;
}

.collapse-border {
    border-collapse: collapse;
}

.collapse-border td {
    width: 50%;
    padding: 5px 10px;
    border: 1px black solid;
}

.added-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
}

.event-table {
    border-collapse: collapse;
}

.event-table td {
    padding: 5px 10px;
}







/* PEOPLES */

.event-href {
    font-size: 20px;
    color: blue;
}

.person-link {
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.note {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes {
    display: block;
    width: 40%;
    background-color: #f6eea3;
    padding: 10px 20px;
    margin-inline-end: 20px;
    margin-bottom: 20px;
}

.documents {
    font-size: 20px;
    color: blue;
}

.documents:hover {
    color: red
}

.placephoto {
    background-color: #eeeeee;
    width: 200px;
    height: 300px;
    display: flex;
    border: var(--tbm-color) solid 2px;
    justify-content: center;
}

.edit-photo {
    width: 100%;
}


/* WARNINGS */

.warning-note {
    width: 500px;

    color: red;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 30px;
}

.warning-note-person {
    width: 500px;

    color: red;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
}

.warning-auth { 
    position: absolute;

    bottom: 20px;
    font-size: 20px;
    color: red;
}


/* PAGINATION */

#pages {
    display: flex;
}

.pagination {
    display: flex;
    justify-content: center;
}

#pagination-ul {
    display: flex;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#pagination-ul li {
    border: 1px grey solid;
    padding: 10px 15px;
    margin-left: -1px;
    cursor: pointer;
    background-color: white;
}

#pagination-ul li:hover {
    background-color: var(--button-background-hover) !important;
}

#pagination-ul {
    color: blue;
    text-align: center;
    cursor: pointer;
}

#pagination-ul a {
    color: blue;
    text-align: center;
    cursor: pointer;
}





/* CONTEXT SEARCH  */

#autocomplete {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0px 30px;

    position: relative;
}

.autocomplete-input {
    width: 400px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.autocomplete-result-list {
    position: absolute;
    top: 80% !important;
    z-index: 1;
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.autocomplete-result-list > li {
    padding: 3px 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: start;
}

.autocomplete-result-list > li:hover {
    background-color: var(--button-background-hover);
}

#input-desc {
    border: 1px black solid;
}


/* CHANGE PAGE */

.change-page {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 200px;
    width: 60%;
}

.change-data {
    width: 30%;
    text-align: center;
}