{% extends 'index.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}

    <div class="main-content main-content-form">
        <form class="event-form" id="event" method="post" action="">
            <div class="form-add-event">
                <div class="main-info">
                    <h1>{{ header }}</h1>
                    {% csrf_token %}
                    {% for obj in form %}
                        {% if obj.label == 'ФИО нарушителя' or obj.label == 'ФИО' %}
                        {% else %}
                        {% if obj.label == 'Дата рождения' %}
                            {{ obj.label }}
                            <input type="date" name="birthday" required="" id="id_birthday" value="2001-01-01">
                        {% elif obj.label == 'Дата проишествия (Формат даты: YYYY-MM-DD)' %}
                            {{ obj.label }}
                            <input type="date" name="date_incedent" required="" id="id_birthday" value="2001-01-01">
                        {% else %}
                            {{ obj.label }}
                            {{ obj }}
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <button id="main-form-submit" name="submit" type="submit">Подтвердить данные</button>
        </form>
        {% if events %}
        <div class="secondary-form">
            <form id="intruder-form" class="event-form" method="post" name="form" action="">
                <div class="main-info">
                    <h1>Нарушители</h1>
                    <div class="list-persons-form" id="intruder-list"></div>
                    <a class="add-btn" id="btn-intruder-first">Добавить существующего</a>
                    <div class="secondary-form" id="intruder-first">
                        <h1>Добавьте существующего</h1>
                        ФИО нарушителя
                        <input hidden type="text" value="1" name="intruder">
                        <input value="" id="search-intruder" name="search">
                        
                        <a class="add-btn" id="add-btn-int">Подтвердить</a>
                        <br>
                    </div>
                    <br>
                    <a class="add-btn" name="addPersonNew" id="btn-intruder">Добавить новое лицо</a>
                    <div id="intruder">
                        <h2>Заполните данные о нарушителе</h2>
                        {% csrf_token %}
                        <input hidden type="text" value="1" name="intruder">
                        {% for obj in form_person %}
                            {% if obj.label == 'ФИО нарушителя' %}
                            {% else %}
                            {% if obj.label == 'Дата рождения' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                <input type="date" name="birthday" required="" id="id_birthday" value="2001-01-01">
                            {% elif obj.label == 'Фамилия' or obj.label == 'Имя' or obj.label == 'Отчество' or obj.label == 'Описание' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                {{ obj }}
                            {% else %}
                                {{ obj.label }}
                                {{ obj }}
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button id="submit-intruder" name="submit" type="submit">Подтвердить данные</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="secondary-form">
            <form id="witness-form" class="event-form" method="post" name="form" action="">
                <div class="main-info">
                    <h1>Свидетели</h1>
                    <div class="list-persons-form" id="witness-list"></div>
                    <a class="add-btn" id="btn-witness-first">Добавить существующего</a>
                    <div class="secondary-form" id="witness-first">
                        <h1>Добавьте существующего</h1>
                        ФИО свидетеля
                        <input hidden type="text" value="1" name="witness">
                        <input value="" id="search-witness" name="search">
                        
                        <a class="add-btn" id="add-btn-wit">Подтвердить</a>
                        <br>
                    </div>
                    <br>
                    <a class="add-btn" name="addPersonNew" id="btn-witness">Добавить новое лицо</a>
                    <div id="witness">
                        <h2>Заполните данные о свидетеле</h2>
                        {% csrf_token %}
                        <input hidden type="text" value="1" name="witness">
                        {% for obj in form_person %}
                            {% if obj.label == 'ФИО нарушителя' %}
                            {% else %}
                            {% if obj.label == 'Дата рождения' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                <input type="date" name="birthday" required="" id="id_birthday" value="">
                            {% elif obj.label == 'Дата проишествия (Формат даты: YYYY-MM-DD)' %}
                                {{ obj.label }}
                                <input type="date" name="date_incedent" required="" id="id_birthday" value="">
                            {% elif obj.label == 'Фамилия' or obj.label == 'Имя' or obj.label == 'Отчество' or obj.label == 'Описание' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                {{ obj }}
                            {% else %}
                                {{ obj.label }}
                                {{ obj }}
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button id="submit-witness" name="submit-witness" type="submit">Подтвердить данные</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="secondary-form">
            <form id="injured-form" class="event-form" method="post" name="form" action="">
                <div class="main-info">
                    <h1>Потерпевшие</h1>
                    <div class="list-persons-form" id="injured-list"></div>
                    <a class="add-btn" id="btn-injured-first">Добавить существующего</a>
                    <div class="secondary-form" id="injured-first">
                        <h1>Добавьте существующего</h1>
                        ФИО потерпевшего
                        <input hidden type="text" value="1" name="injured">
                        <input value="" id="search-injured" name="search">
                        
                        <a class="add-btn" id="add-btn-inj">Подтвердить</a>
                        <br>
                    </div>
                    <br>
                    <a class="add-btn" name="addPersonNew" id="btn-injured">Добавить новое лицо</a>
                    <div id="injured">
                        <h2>Заполните данные о потерпевешем</h2>
                        {% csrf_token %}
                        <input hidden type="text" value="1" name="injured">
                        {% for obj in form_person %}
                            {% if obj.label == 'ФИО нарушителя' %}
                            {% else %}
                            {% if obj.label == 'Дата рождения' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                <input type="date" name="birthday" required="" id="id_birthday" value="">
                            {% elif obj.label == 'Дата проишествия (Формат даты: YYYY-MM-DD)' %}
                                {{ obj.label }}
                                <input type="date" name="date_incedent" required="" id="id_birthday" value="">
                            {% elif obj.label == 'Фамилия' or obj.label == 'Имя' or obj.label == 'Отчество' or obj.label == 'Описание' %}
                                <a>{{ obj.label }}<b> (обязательно)</b></a>
                                {{ obj }}
                            {% else %}
                                {{ obj.label }}
                                {{ obj }}
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button id="submit-injured" name="submit-injured" type="submit">Подтвердить данные</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    
{% endblock %}

{% block underscripts %}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

{% if events %}
<script src="{% static 'js/forms.js' %}"></script>
{% endif %}

{% if solo %}
<script src="{% static 'js/add-person-solo.js' %}"></script>
{% endif %}

{% endblock %}