{% extends 'index.html' %}

{% load static %}

{% block content %}
    <form id="event-form" method="post" action="">
        <h1>Редактирование {{ header }}</h1>
        {% csrf_token %}
        {% for obj in form %}
            {{ i = obj.name }}
            {% if obj.label == 'ФИО нарушителя' %}
                {{ obj.label }}
                <input id="autoComplete" type="text" name="intruder" required="" id="id_intruder">
            {% else %}
                {{ obj.label }}
                {{ person.i }}
            {% endif %}
        {% endfor %}
        <button name="submit" type="submit">Подтвердить данные</button>

    </form>

{% endblock %}