{% extends 'index.html' %}

{% load static %}

{% block content %}
    <div class="main-content main-content-form">
        <form id="edit-form" method="post" action="">
            <h1>Редактирование {{ header }}</h1>
            {% csrf_token %}
            {% for obj in form %}
                    {{ obj.label }}
                    {{ obj }}
            {% endfor %}
            <button id="accept-edit" class="accept-btn" name="submit" type="submit">Подтвердить данные</button>
        </form>
    </div>
{% endblock %}

{% block underscripts %}
    {% if person %}
        <script src="{% static 'js/edit-person.js' %}"></script>
    {% else %}
        <script src="{% static 'js/edit-event.js' %}"></script>
    {% endif %}
{% endblock %}

