{% load static %}

<div class="navbar">
    <div class="navbar-content">
        <div class="icon">
            <div id="logoLink">
                <div class="logo"></div>
                <p>АИС "База данных событий"</p>
            </div>
        </div>
        {% if user.is_authenticated %}
        <ul>
            <li><a style="font-weight: 800;">{{ request.user.first_name|add:' '|add:request.user.last_name }}</a></li>
            <li>
                <ul>
                    <li class="view-list">
                        <a id="view" href="#">Просмотр <span id="arrow-header">▼</span></a>
                        <ul id="list-values" class="header-list">
                            <li><a href="/events">События</a></li>
                            <li><a href="/persons">Лица</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <ul>
                    <li class="view-list">
                        <a id="view-edit" href="#">Ввод данных <span id="arrow-header">▼</span></a>
                        <ul id="list-values-edit" class="header-list">
                           <li><a href="/add-event">Событие</a></li>
                           <li><a href="/add-person">Лицо</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
        {% endif %}
        
    </div>
</div>

{% block underscripts %}
    {% if user.is_authenticated %}
        <script src="{% static 'js/index.js' %}"></script>
    {% endif %}
{% endblock %}