{% extends 'index.html' %}

{% load static %}

{% block title %}

    {% if person %}
    <title>ED - Лица</title>
    {% else %}
    <title>ED - События</title>
    {% endif %}

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}

    <div class="main-content">
        <div class="header-main">
            {% if name == 'Лица' %}
            <a href="{% url 'add-person' %}" class="tbm-border" id="add-event">Добавить лицо</a>
            {% elif event %}
            <a href="{% url 'add-event' %}" class="tbm-border" id="add-event">Добавить событие</a>
            {% endif %}
            <div class="sort-search">
                <a id="filter-button">Фильтры</a>
                <a>Сортировка:</a>
                {% if person_num %}
                    <select name="sort" id="sortId">
                        <option value="Без сортировки">Без сортировки</option>
                        <option name="byDateUp" value="По дате: раньше">По обновлению: недавно</option>
                        <option name="byDateDown" value="По дате: позже">По обновлению: давно</option>
                        <option name="byNameUp" value="По фамилии: А-Я">По фамилии: А - Я</option>
                        <option name="byNameDown" value="По фамилии: Я-А">По фамилии: Я - А</option>
                    </select>
                {% else %}
                    <select name="sort" id="sortId">
                        <option value="Без сортировки">Без сортировки</option>
                        <option name="byDateUp" value="По дате: раньше">По дате события: недавно</option>
                        <option name="byDateDown" value="По дате: позже">По дате события: давно</option>
                        <option name="byNameUp" value="По фамилии: А-Я">По филиалу: А - Я</option>
                        <option name="byNameDown" value="По фамилии: Я-А">По филиалу: Я - А</option>
                    </select>
                {% endif %}
                <div class="search">
                    <form class="filter-form" action="" method="get">
                        {% for i in form %}
                        {% if i.label == 'search' %}
                        {{i}}
                        {% endif %}
                        {% endfor %}
                        {% if person %}
                        <button type="submit" name="submit-btn" id="search-button-person"><span class="material-symbols-outlined">search</span></button>
                        {% else %}
                        <button type="submit" name="submit-btn" id="search-button-event"><span class="material-symbols-outlined">search</span></button>
                        {% endif %}
                        <button type="submit" id="delete-search" class="material-symbols-outlined">close</button>
                </div>
            </div>
        </div>
        <div class="filter" id="filter">
            <div class="filter-content">
                {% if event %}
                        {% for i in form %}
                        {% if i.label == 'search' %}
                        {% else %}
                            <div>
                                {{ i.label }}
                                {{ i }}
                            </div>
                        {% endif %}
                        {% endfor %}
                        <div class="filter-btns">
                            <button class="filter-button-action tbm-border" id="filter-accept">Применить фильтры</button>
                            <button class="filter-button-action tbm-border" id="filter-delete">Очистить фильтры</button>
                        </div>
                    </form>
                {% else %}
                    {% for i in form %}
                    {% if i.label == 'search' %}
                    {% else %}
                        <div>
                            {{ i.label }}
                            {{ i }}
                        </div>
                    {% endif %}
                    {% endfor %}
                        <div class="filter-btns">
                            <button class="filter-button-action tbm-border" id="filter-accept">Применить фильтры</button>
                            <button class="filter-button-action tbm-border" id="filter-delete">Очистить фильтры</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <table class="table-main" id="tableMain">
            <h1 id="head" class="header-page">{{ name }}</h1>
            <h3>Найдено записей: <a id="counter"></a></h3>
            {% if person_num %}
                <tr class="header-table">
                    <th hidden>Добавлено/Обновлено</th>
                    <th id="id"><b>№ {{ name_number }}</b></th>
                    <th id=""><b>Фамилия</b></th>
                    <th id=""><b>Имя</b></th>
                    <th id=""><b>Отчество</b></th>
                    <th><b>День рождения</b></th>
                    <th id="empty-col"><b>Действия</b></th>
                </tr>
                <tbody id="tbodyTable">
                    {% for line in person %}
                        <tr>
                            <td hidden>{{ line.add_at|date:'Y-m-d' }}</td>
                            <td id="id">{{ line.id }}</td>
                            <td>{{ line.last_name }}</td>
                            <td>{{ line.first_name }}</td>
                            <td>{{ line.second_name }}</td>
                            <td>{{ line.birthday }}</td>
                            <td id="empty-col">
                                <div>
                                    <a href="{% url 'person' line.id %}">Открыть<span class="material-symbols-outlined">open_in_new</span></a>
                                </div>
                            </td>
                            <td id="sex" hidden>{{ line.sex }}</td>
                            <td id="fio" hidden>{{ line.fio }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tr class="header-table">
                    <th hidden>Дата изменения</th>
                    <th id="id">№ {{ name_number }}</th>
                    <th id="date">Дата события</th>
                    <th id="type">Вид события</th>
                    <th id="division">Дивизион</th>
                    <th id="filial">Филиал</th>
                    <th id="empty-col">Действия</th>
                </tr>
                <tbody id="tbodyTable">
                    {% for line in events %}
                    <tr>
                        <td id="desc" hidden>{{ line.description }}</td>
                        <td hidden> {{ line.change_date|date:'Y-m-d' }} </td>
                        <td id="id">{{ line.id }}</td>
                        <td id="date">{{ line.date_incedent }}</td>
                        <td id="type">{{ line.type }}</td>
                        <td id="division">{{ line.division }}</td>
                        <td id="filial">{{ line.filial }}</td>
                        <td id="empty-col">
                            <div>
                                <a href="{% url 'event' line.id %}">Открыть<span class="material-symbols-outlined">open_in_new</span></a>                       
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
        <div class="pagination">
            <ul id="pagination-ul">
                <li id="first">Первая</li>
                <li id="previous">Предыдущая</li>
                <li id="next">Следующая</li>
                <li id="last">Последняя</li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block underscripts %}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'js/tools/sorting.js' %}"></script>


{% endblock %}